*{
  padding:0;
  margin:0;
}
body{
   background-color:black;
   color:white;
}
/*----------App------------*/

.app{
  /*border:1px solid white;*/
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
/*------------welcome-----------*/
.welcome{
  width:100%;
  height:100vh;
  color:white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  /*border:1px solid white;*/
}
.image img{
  height:550px;
  width:100%;
}
.intro{
  width:40%;
  font-size: 18px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap:35px;
  padding:20px;
}
.quote{
  font-size: 36px;
  width:70%;
}
.intro h1{
   font-size: 60px;
}
.intro h1 span{
  color:#f7a437;
}
.enter{
   margin-top:20px;
   display: flex;
   align-items: center;
   justify-content: center;
   gap:10px;
}
.enter button{
   border-style: none;
   color: white;
   width:90px;
   height:35px;
   cursor:pointer;
   font-size: 16px;
   border-radius: 5px;
   border:1px solid #f7a437;
   background-color: transparent;
  }
/*------------home----------*/

.home{
   width:100%;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}
/*----------Navbar---------*/

.navbar{
 /*border:1px solid white;*/
  width:100%;
  height: auto;
  padding-top: 10px;
  padding-bottom:10px;
  color:white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap:10px;
  border-bottom: 1px solid white;
}
.menuicon{
   color:white;
   font-size: 30px;
   cursor:pointer;
  }
.logo{
  font-size: 20px;
}
.logo span{
    color:#f7a437;
}
.search{
 /* border: 1px solid white;*/
  width:500px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search input{
 width:80%;
 height:30px;
 padding-left: 10px;
 border-style: none;
 font-size: 15px;
 border-radius: 5px;
 outline:none;
}
#searchbtn{
   border-style: none;
   background-color:#f7a437;
   border-radius:5px;
   cursor: pointer;
   padding:5px;
   width:70px;
   font-size: 16px;
}
#searchbtn:hover{
  box-shadow: 0 0 10px #ebb165;
}
.navright{
 /* border:1px solid white;*/
  display: flex;
  align-items: center;
  justify-content: space-around;
  width:200px;
}
#cart{
  border-style: none;
  color:black;
  /*border:1px solid #f7a437;*/
  width:70px;
  padding:5px;
  background-color:#f7a437;
  border-radius: 5px;
  font-size: 20px;
  cursor:pointer;
}
#cart:hover{
   box-shadow:0 0 12px #ebb165;
}
#orderbag{
  border-style: none;
  color:black;
  width:70px;
  padding:5px;
  background-color:#f7a437;
  border-radius: 5px;
  font-size: 20px;
  cursor:pointer;
}

#orderbag:hover{
  box-shadow:0 0 12px #ebb165;
}
/*------------Cart---------------*/
.cart{
  width:100%;
  display: flex;
  align-items:center;
  justify-content: center;
  flex-direction: column;
  gap:50px;
}
.cartlist{
  width:100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap:30px;
  /*border:1px solid white;*/
}
.cart-item{
    width: 200px;
    height:auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border:1px solid white;
    border-radius: 10px;;
    padding:10px;
    gap:20px;
}
.cart-item img{
  width:180px;
  height:180px;
}
.info{
   width:100%;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   gap:10px;

}
#order{
  width:100px;
  height: 30px;
  border-style: none;
  background-color: #f7a437;
  border-radius: 6px;
  cursor: pointer;
  font-size: 17px;
}
#order:hover{
  box-shadow: 0 0 10px #ebb165;
}
#cartheader{
   color:#f7a437;
}
#removeitem{
  width:100px;
  height: 30px;
  border-style: none;
  background-image : radial-gradient(rgb(188, 83, 83),rgb(252, 19, 19));
  border-radius: 6px;
  cursor: pointer;
  font-size: 17px;
}
#removeitem:hover{
  box-shadow: 0 0 10px rgb(240, 108, 108);
}
/*---------------order-------------*/
.order{
   width:100%;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   margin:20px;
   gap:20px;
}
.orderheader{
  color:#f7a437;
}
/*-------------Login---------------*/
.login{
   background-image:radial-gradient(#606060,black);
   margin-top:150px;
   width:50vmin;
   height:400px;
   border-radius: 10px;
   padding:10px;
   color: white;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   box-shadow: 0px 0px 15px #808080;
}
#loginuser{
  font-size: 80px;
}
.login form{
   width:100%;
   height: 60%;
   color: white;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   padding:5px;
   gap:10px;
   /*border: 1px solid white;*/
}
.user{
  width:80%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap:5px;
  border:2px solid #1e1818;
  border-radius: 5px;
  padding-left: 8px;
  font-size: 25px;
}

.password{
  width:80%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap:5px;
  border:2px solid #1e1818;
  border-radius: 5px;
  padding-left: 8px;
  font-size: 25px;
}

.login form input {
  width:100%;
  padding:8px;
  border-style: none;
  background-color: transparent;
  color: white;
  height:25px;
  margin:4px;
  font-size: 18px;
  outline:none;
}
#loginbtn{
  color:white;
  border-style: none;
  background-color: black;
  border-radius: 5px;
  font-size: 16px;
  width:45vmin;
  height:40px;
  cursor:pointer;
  margin-top:20px;
}
#signuplink{
   text-decoration: none;
   color:violet;
}

/*-------------signup------------*/
.signup{
  margin-top:120px;
  width:60vmin;
  height:500px;
  background-image:radial-gradient(#606060,black);
  box-shadow: 0 0 10px #808080;
  border-radius: 10px;
  padding:10px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#signupuser{
  font-size: 100px;
}
.signup form{
  width:100%;
  height: 60%;
  color:white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding:8px;
  gap:10px;
  /*border: 1px solid white;*/
}
.signup form label{
 width:100%;
 margin:10px;
 font-size: 18px;
}
.signup form input {
 width:100%;
 padding:10px;
 border-style: none;
 background-color: transparent;
 color: white;
 height:25px;
 margin:4px;
 font-size: 17px;
 outline: none;
}
#signupbtn{
 border-style: none;
 background-color: black;
 color:white;
 border-radius: 5px;
 font-size: 17px;
 width:52vmin;
 height:40px;
 cursor:pointer;
 margin-top:20px;
}
.signup h2{
  font-size: 25px;
}
.signup h2 span{
  color:#f7a437;
}
/*--------------footer-----------*/

.footer{
  color: white;
  width:80%;
  background-color: #2a2828;
  border-radius: 10px;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;
  gap:50px;
  padding:20px;
  margin:20px;
}
.icons{
  width:100%;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap:10px;
  cursor: pointer;
}
.contact{
   padding:10px;
   display: flex;
   align-items: flex-start;
   justify-content: center;
   flex-direction: column;
   gap:10px;
}
#call{
  display: flex;
  gap:5px;
}
#mail{
  display: flex;
  gap:5px;
  align-items: center;
}
.contact h1{
  color:#f7a437;
}
.media{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap:5px;
}
.payment{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap:5px;
}
#paymenticons{
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   font-size: 30px;
}
/*----------Main-----------*/
.main{
   width:100%;
   display: flex;
   align-items: flex-start;
   justify-content: flex-start;
   /*border:1px solid white;*/
}

/*-----------menu----------*/

.dashboard{
   width:15%;
   height:100vh;
   background-color: #808080;
   padding:10px;
   display: flex;
   align-items: flex-start;
   justify-content: flex-start;
   flex-direction: column;
   gap:10px;
  /* border:1px solid white;*/
}
@media (max-width:870px){
  .dashboard{
    z-index: 1;
    width:100%;
    position: fixed;
  }
}
.crossicon{
   border-style: none;
   color:black;
   font-size: 30px;
   background-color: transparent;
   position: absolute;
   cursor: pointer;
   right: 50px;
   opacity: 0;
}
@media (max-width:870px) {
    .crossicon{
      opacity: 1;
    }
}
.menubtn{
  border-style: none;
  background-color: transparent;
}
.profileicon{
  width:100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color:black;
  gap:5px;
  font-size: 20px;
 /* border:1px solid black;*/
}
#profile{
   font-size: 70px;
   color: black;
   width:100%;
  /* border:1px solid black;*/
}
.hr{
  color:#303030;
  width:100%;
}
.menulist{
    color: black;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:10px;
    /*border: 1px solid white;*/
}
.homelist,.fruits,.vegetables,.dairy ,.spices,.oils ,.grains,.sanitizers{
  text-decoration: none;
  width:100%;
  height:30px;
  font-size: 17px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap:10px;
  cursor:pointer;
  border-style: none;
  background-color: transparent;
  border-radius: 5px;
  padding:5px;
 /* border:1px solid white;*/
}
.filter{
  width:100%;
   display: flex;
   align-items: center;
   justify-content: flex-start;
   flex-direction: column;
}
.homelist:hover{
   background-color: #404040;
}
.fruits:hover{
  background-color: #404040;
}
.vegetables:hover{
  background-color: #404040;
}
.dairy:hover{
  background-color: #404040;
}
.spices:hover{
  background-color: #404040;
}
.grains:hover{
  background-color: #404040;
}
.oilss:hover{
  background-color: #404040;
}
.sanitizers:hover{
    background-color: #404040;
}

.menuicons{
  font-size: 23px;
}
.logout{
  width:100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logout button{
   width:100px;
   height:35px;
   border-style: none;
   background-color:transparent;
   border:2px solid black;
   border-radius: 5px;
   font-size: 16px;
   cursor:pointer
}
.logout button:hover{
  background-color: #505050;
}
/*---------products------------*/
.products{
  width:100%;
  margin:20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap:20px;
  /*border:1px solid white;*/
}

/*-----------card-------------*/
.card{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  border:1px solid white;
  border-radius: 5px;
  padding:10px;
  gap:10px;
}
.card img{
   width:250px;
   height:230px;
   border-radius: 5px;
}
.productinfo{
  width:100%;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   gap:5px;
}
.cardbtn{
  width:100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap:5px;
  margin:5px;
}
#addtocart{
    border-style: none;
    background-color: #f7a437;
    border-radius: 5px;
    cursor: pointer;
    color:black;
    width:80%;
    height:30px;
    font-size: 17px;
}
#addtocart:hover{
   box-shadow: 0 0 15px #ebb165;
}
.cardbtn button{
  border-style: none;
  background-color: transparent;
}
.quantity{
  width:20px;
  height:20px;
  border-style: none;
  border-radius: 5px;
  background-color: #707070;
  font-size: 15px;
  cursor:pointer;
}
.quantity:hover{
  box-shadow: 0 0 15px #909090;
}


/*-----------loader---------------*/
.loader{
   width:100%;
   display: flex;
   align-items: center;
   justify-content: center;
   padding:20px;
   margin:20px;
 }

.spinner{
   width:50px;
   height:50px;
   border:5px solid white;
   border-top: 5px solid #505050;
   border-radius: 50%;
   animation: spinner 2s linear infinite;
}
@keyframes spinner {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
  
}
